
src/automata.csv
src/.nvimlog
src/test1.txt
src/appx_synch_edited.ipynb
src/appx_synch.ipynb
.nvimlog
src/results.txt
src/resultsOneMil.txt
src/automata.txt
src/tcp.txt
src/AutomataFormated.py
src/generateAutomataFormated.py
src/tcp.txt
